<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>
<body>
    <h3>Edit the chat</h3>
    <p>This chat was sent from <b><%= chat.from %> </b> <b> <%= chat.to%></b>.</p>
    <form action="" method="put">
        <textarea name="edited" id="edited" rows="6" cols="35"></textarea>
        <button>Edit</button>
    </form>
</body>
</html>