<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Create your chats here :</h3>

    <form action="/chats" method="post">
        <input type="text" placeholder="who are you?" name="from" class="inp"> <br><br>
        <textarea name="msg" id="msg">Write here</textarea><br><br>
        <input type="text" placeholder="to whom?" name="to" class="inp"><br><br>
        <button class="btn">Create</button>
    </form>
</body>
</html>